body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ecf9ec;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #555;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Make links bold */
}

nav ul li a:hover {
    background-color: #b3e6b3;
}

section {
    padding: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.footer-links {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold; /* Make links bold */
}

.footer-links li a:hover {
    text-decoration: underline;
}

